@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased text-gray-800 bg-[#FCFCFC];
        /* Slightly warmer white */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif text-primary-dark;
    }

    /* Improve typography globally */
    p {
        @apply tracking-wide;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}